        <footer>
            <div>
                <a id="envelope" href="mailto:educational.vents@gmail.com" traget="_blank"><img alt="contact-us" src="/images/envelope.png"></a>
                <a href="https://www.instagram.com/edu_vents/" traget="_blank"><img alt="instagram" src="/images/instagram-logo.png"></a>
                <a href="https://twitter.com/edu_vents" traget="_blank"><img alt="twitter" src="/images/twitter-logo.png"></a>
            </div>
            <h6 onclick="location.href = '/'">
                <span>العربية</span>
                <img alt="lang" src="/images/worlwide.png">
            </h6>
        </footer>
    </body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151935099-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    
        gtag('config', 'UA-151935099-1');
    </script>
</html>