<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title dir="rtl">إديوفينتس</title>
        <meta dir="rtl" name="description" content=".إديو- فينتس - تمت صناعة الموقع خصيصا لمساعدة الفطاحلة. سوف يتم عرض اهم الاحداث التعليمية التي تحدث حول العالم وسوف يتم توفير واجهة موقع سهلة الاستخدام">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/images/seco.ico">
        <link rel="stylesheet" href="/stylesheets/ar/main.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
        <script type="text/javascript" src="/scripts/jquery-3.4.1.min.js"></script>
    </head>
    <body>
        <header class="wrapped">
            <button><img alt="burger" src="/images/burger.png"></button>

            <nav>
                <a dir="rtl" href="/ar" id="home">الرئيسية</a>
                <a dir="rtl" href="/ar/edu-vents" id="edu-vents">إديوفينتس</a>
            </nav>

            <h1 onclick="location.href='/ar'">
                <span dir="rtl">إديوفينتس</span>
                <img alt="logo" src="/images/logo.png">
            </h1>

            <script>
                $("header button").on("click", function() {
                    if ($("#collapse-div").is(':visible')) {
                        $("#collapse-div").slideUp(500);
                    } else {
                        $("#collapse-div").slideDown(500);
                    }
                    });
            </script>
        </header>
        <div id="collapse-div" class="wrapped">
            <a dir="rtl" href="/" id="home">الرئيسية</a>
            <a dir="rtl" href="/ar/edu-vents" id="edu-vents" style="margin: 2.5px auto;">إديوفينتس</a>
        </div>