<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>EDU-vents</title>
        <meta name="description" content="EDU-vents - This website was created solely for the help of Philomaths. It would show the most important educational events happening around the world, providing an easy-to-use portal for them.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/images/seco.ico">
        <link rel="stylesheet" href="/stylesheets/en/main.css">
    </head>
    <body class="sections">
        <section>
            <img src="/images/logo_blue.jpg">

            <h1>Something went wrong.</h1>
            <h1>حدث خطأ</h1>
            <% if (typeof error !== "undefined") { %>
                <p><%= error %></p>
            <% } %>
            <a href="/">Go Back | إرجع</a>
        </section>
    </body>
</html>